
#pluginAppObj_591_03 {
	width: 100%;
}
#pluginAppObj_591_03 .cd-headline {
	display: block;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 32px;
	color: rgba(0, 0, 0, 1);
	font-style: normal;
	font-weight: normal;
}

#pluginAppObj_591_03 .cd-headline b,
#pluginAppObj_591_03 .cd-headline i,
#pluginAppObj_591_03 .cd-headline em {
	
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 32px;
	color: rgba(7, 55, 99, 1);
	font-style: normal !important;
	font-weight: normal;
}

/* Loading bar color */
#pluginAppObj_591_03 .cd-headline.loading-bar .cd-words-wrapper::after {
	background-color: rgba(7, 55, 99, 1);
}

#pluginAppObj_591_03 .cd-intro {
	text-align: right;
}
