#pluginAppObj_111_06 {
    overflow: hidden;
}

#pluginAppObj_111_06_container {
    box-sizing: border-box;
    position: relative;
    
}

#pluginAppObj_111_06_container form .input_img {
    display: inline-block;
    vertical-align: bottom;
}