#pluginAppObj_112_04 {
    overflow: hidden;
}

#pluginAppObj_112_04_container {
    box-sizing: border-box;
    position: relative;
    
}

#pluginAppObj_112_04_container form .input_img {
    display: inline-block;
    vertical-align: bottom;
}